/* Landon Morton, 11/28/25, Table 2 */

body, table, caption, tr, td, th {
  margin: 0;
  border: 0;
  padding: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 15%;
  font-size: 1.3em;
  border-spacing: 0;
  border-collapse: collapse;
}

table caption {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 3%;
}

table tr {
  background-color: yellow;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: white;
}

table tr th {
  border: 3px solid black;
  padding-left: 0.8%;
  padding-bottom: 2%;
  text-align: left;
  text-wrap: none;
  vertical-align: top;
}

table tr td {
  border: 3px solid black;
  padding-left: 0.8%;
  text-align: left;
  text-wrap: none;
}

.align-right {
  text-align: right;
  padding-right: 3%;
  padding-bottom: 0;
}

.bg-white {
  background-color: white;
}