/* CSS Reset */
body, header, nav, main, footer, img, a, h1, h2, h3, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body */
body {
  font-family: 'Open sans', 'sans-serif', 'arial';
  background-color: darkblue;
  text-align: center;
  color: aliceblue;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

/* Style rules for header */
header {
  background-color: lightslategray;
  display: block;
  margin: 3%;
}

/* Style rules for nav */
nav {
  background-color: lightslategray;
  display: inline-block;
  position: -webkit-sticky;
  position: sticky;
  margin: 3%;
  margin-top: 5%;
  padding: 1%;
  top: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 2px;
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  color: red;
}

/* Style rules for main */
main {
  background-color: lightslategray;
  margin: 3%;
  margin-top: 5%;
  padding-right: 5px;
  padding-left: 5px;
}

/* Style rules for footer */
footer {
  background-color: lightslategray;
  margin: 2%;
  margin-top: 8%;
  padding: 2px;
}

/* Desktop Style Rules */
@media screen and (min-width: 768px) {
  body {
    font-size: x-large;
  }

  nav {
    display: block;
  }

  nav ul li {
    display: inline-block;
  }

  main {
    padding: 0;
  }
}
/* Style rules for id's/classes */

#container {
  padding-bottom: 50px;
}

.box {
  background-color: black;
  border-radius: 12px;
  padding: 3px;
}

.box:hover {
  background-color: darkblue;
}

.round {
  border-radius: 12px;
}