/* Landon Morton, 11/28/25, Table 1 */

body, table, caption, tr, td, th {
  margin: 0;
  border: 0;
  padding: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  font-size: 1.3em;
  text-wrap: none;
  border-spacing: 0;
  border-collapse: collapse;
}
table tr {
  background-color: yellow;
  text-align: center;
}

table tr:nth-last-child(odd) {
  background-color: white;
}

table tr th {
  border: 3px solid black;
}

table tr td {
  border: 3px solid black;
}

table tr td:nth-child(3) {
  text-align: right;
  padding-right: 3%;
}